.transperency_block{
  display: flex;
  align-items: center;
  margin: 2rem 0.5rem;

}
.transperency_text{
  color:white;
  max-width: 13rem;
  margin-left: 1rem;
  text-align: start;
}
.transparency_img{
  width: 5rem;
  height: 5rem;
}

.success_parameter_container{
 width: 70rem;
  margin: 0 auto;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  justify-items: center;
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 20px 20px; 
}

@media  (min-width: 320px) {
  .success_parameter_container{
    width: auto;
     margin: 0 auto;
     display: grid; 
     grid-template-columns: 1fr; 
     justify-items: center;
     grid-template-rows: 1fr; 
     gap: 20px 20px; 
   }
}
@media  (min-width: 768px) {
  .success_parameter_container{
    width: auto;
     margin: 0 auto;
     display: grid; 
     grid-template-columns: 1fr 1fr; 
     justify-items: center;
     grid-template-rows: 1fr 1fr ; 
     gap: 20px 20px; 
   }
}
@media only screen and (min-width: 1232px){
  .success_parameter_container{
    width: 70rem;
     margin: 0 auto;
     display: grid; 
     grid-template-columns: 1fr 1fr 1fr; 
     justify-items: center;
     grid-template-rows: 1fr 1fr 1fr; 
     gap: 20px 20px; 
   }
}
.main_container{  
  background-color: black;
}
.main_heading{
  color: greenyellow;
    margin: 0 auto;
    max-width: 26rem;
    font-size: 3rem;
    text-align: center;
}
